:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #333333;
  --color-grey: #F2F2F2;
  --color-extra-grey: #EEEEEE;

  --color-light-brown: #766357;
  --color-brown: #604E43;
  --color-dark-brown: #503E33;

  --color-light-blue: #81B3D2;
  --color-blue: #669EC0;
  --color-dark-blue: #5496BD;

  --color-border-grey: #E5E5E5;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PT-Sans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff"),
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff"),
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
}

.link {
  text-decoration: none;
}

.image {
  max-width: 100%;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color-white);
}

.site-navigation-current a:not([href]) {
  background-color: var(--color-light-brown);
}

.page-link {
  color: var(--color-black);
}

.page-link:hover,
.page-link:focus {
  color: var(--color-light-blue);
  cursor: pointer;
}

.page-link:active {
  opacity: 0.3;
  color: var(--color-black);
}

.page-link:not([href]) {
  color: var(--color-light-brown);
  pointer-events: none;
}

/* Main */
.list-unstyled {
  list-style: none;
}

.page {
  background-color: var(--color-grey);
}

.main-description {
  line-height: 26px;
}

.container {
  background-color: var(--color-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.advantage-description,
.extra-advantage {
  width: 400px;
}

.advantage {
  line-height: 21px;
}

.advantage-title {
  font-size: 21px;
  color: inherit;
}

.advantage-item:nth-child(-n+2) .advantage-description {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

.advantage-item:nth-child(n+3) .advantage-description {
  background-color: var(--color-light-grey);
  color: var(--color-dark);
}

.extra-advantage p {
  color: var(--color-dark);
}

.booking-title {
  font-size: 30px;
}

.radio-button-unstyled {
  appearance: none;
}

.sorting-type+label {
  color: var(--color-black);
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dashed var(--color-black);
}

.sorting-type:not(:checked)+label {
  opacity: 0.3;
}

.sorting-type:checked+label {
  color: var(--color-light-blue);
  opacity: 1;
  border-bottom: none;
}

.sorting-type:not(:checked):hover+label {
  color: var(--color-light-blue);
  opacity: 1;
  border-bottom: 1px dashed var(--color-light-blue);
  cursor: pointer;
}

.sorting-type:not(:checked):active+label {
  color: var(--color-black);
  opacity: 1;
  border-bottom: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name:hover {
  cursor: pointer;
  color: var(--color-light-blue);
}

.hotel-name:active {
  color: var(--color-black);
  opacity: 0.3;
}

.hotel p {
  line-height: 21px;
}

.hotels-count {
  font-size: 21px;
  line-height: 26px;
}

.hotels-sorting p {
  font-size: 12px;
  line-height: 18px;
}

.hotels-list {
  padding: 0;
}

.hotels-item {
  padding: 0 73px;
  border-top: 1px solid var(--color-border-grey);
  border-collapse: collapse;
}

.hotels-item:last-child {
  border-bottom: 1px solid var(--color-border-grey);
}

/* Button */

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--color-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  outline: none;
}

.button-search {
  background-color: var(--color-light-blue);
}

.button-open-popup {
  background-color: var(--color-light-brown);
}

.button-hotel-info {
  background-color: var(--color-light-blue);
  font-size: 14px;
  line-height: 21px;
}

.button-hotel-book {
  background-color: var(--color-light-brown);
  font-size: 14px;
  line-height: 21px;
}

.button-search:hover,
.button-hotel-info:hover {
  background-color: var(--color-blue);
  cursor: pointer;
}

.button-search:active,
.button-hotel-info:active {
  background-color: var(--color-dark-blue);
}

.button-open-popup:hover,
.button-hotel-book:hover {
  background-color: var(--color-brown);
  cursor: pointer;
}

.button-open-popup:active,
.button-hotel-book:active {
  background-color: var(--color-dark-brown);
}

.button:active span {
  opacity: 0.3;
}

/* Footer */

.main-footer {
  line-height: 26px;
}

.footer-phone {
  color: inherit;
}

.contacts {
  font-size: 21px;
  font-weight: 700;
}
